#ifndef CREDENTIALS_H
#define CREDENTIALS_H

// Copy this file to credentials.h and fill in your WiFi credentials
const char *WIFI_SSID = "YOUR_SSID";
const char *WIFI_PASSWORD = "YOUR_PASSWORD";

#endif
